@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}

<!-- Off-Canvas Category Menu-->
<div class="offcanvas-wrapper">

    <!-- Main Slider-->
    <section class="hero-slider" style="background-image: url(/img/hero-slider/main-bg.jpg);">
        <div class="owl-carousel large-controls dots-inside" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 7000 }">
            <div class="item">
                <div class="container padding-top-3x">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                            <div class="from-bottom">
                                <img class="d-inline-block w-150 mb-4" src="~/img/hero-slider/logo02.png" alt="Puma">
                                <div class="h2 text-body text-normal mb-2 pt-1">Puma Backpacks Collection</div>
                                <div class="h2 text-body text-normal mb-4 pb-1">starting at <span class="text-bold">$37.99</span></div>
                            </div><a class="btn btn-primary scale-up delay-1" href="shop-grid-ls.html">View Offers</a>
                        </div>
                        <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="~/img/hero-slider/02.png" alt="Puma Backpack"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container padding-top-3x">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                            <div class="from-bottom">
                                <img class="d-inline-block w-200 mb-4" src="~/img/hero-slider/logo01.png" alt="Converse">
                                <div class="h2 text-body text-normal mb-2 pt-1">Chuck Taylor All Star II</div>
                                <div class="h2 text-body text-normal mb-4 pb-1">for only <span class="text-bold">$59.99</span></div>
                            </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now</a>
                        </div>
                        <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="~/img/hero-slider/01.png" alt="Chuck Taylor All Star II"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container padding-top-3x">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
                            <div class="from-bottom">
                                <img class="d-inline-block mb-4" src="~/img/hero-slider/logo03.png" style="width: 125px;" alt="Motorola">
                                <div class="h2 text-body text-normal mb-2 pt-1">Smart Watch Moto 360 2nd</div>
                                <div class="h2 text-body text-normal mb-4 pb-1">for only <span class="text-bold">$299.99</span></div>
                            </div><a class="btn btn-primary scale-up delay-1" href="shop-single.html">Shop Now</a>
                        </div>
                        <div class="col-md-6 padding-bottom-2x mb-3"><img class="d-block mx-auto" src="~/img/hero-slider/03.png" alt="Moto 360"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Popular Brands-->
    <section class="bg-faded padding-top-3x padding-bottom-3x">
        <div class="container">
            <h3 class="text-center mb-30 pb-2">Popular Brands</h3>
            <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;470&quot;:{&quot;items&quot;:3},&quot;630&quot;:{&quot;items&quot;:4},&quot;991&quot;:{&quot;items&quot;:5},&quot;1200&quot;:{&quot;items&quot;:6}} }">
            <img class="d-block w-110 opacity-75 m-auto" src="~/img/brands/01.png" alt="Adidas">
            <img class="d-block w-110 opacity-75 m-auto" src="~/img/brands/02.png" alt="Brooks">
            <img class="d-block w-110 opacity-75 m-auto" src="~/img/brands/03.png" alt="Valentino">
            <img class="d-block w-110 opacity-75 m-auto" src="~/img/brands/04.png" alt="Nike">
            <img class="d-block w-110 opacity-75 m-auto" src="~/img/brands/05.png" alt="Puma">
            <img class="d-block w-110 opacity-75 m-auto" src="~/img/brands/06.png" alt="New Balance">
            <img class="d-block w-110 opacity-75 m-auto" src="~/img/brands/07.png" alt="Dior"></div>
        </div>
    </section>
</div>
