@model appProperty.Models.UserViewModel

<div class="padding-top-3x hidden-md-up"></div>
<h3 class="margin-bottom-1x">No Account? Register</h3>
<p>Registration takes less than a minute but gives you full control over your orders.</p>
<form class="row" method="post" asp-action="Register">

    <div asp-validation-summary="All" class="text-danger"></div>
    <hr />
    <br />
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="UserName">UserName</label>
                <input class="form-control" type="text" asp-for="UserName">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input class="form-control" type="password" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input class="form-control" type="password" asp-for="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>    
    <div class="col-12 text-center text-sm-right">
        <button class="btn btn-primary margin-bottom-none" type="submit">Register</button>
    </div>
</form>